
.askSocial_container {
  font-family: "Inter", sans-serif;
}

.askSocial_header {
  background: #fff8fa;
  border: 1px solid #ffe9ef;
  border-radius: 18px;
}

.askSocial_title {
  font-weight: 700;
  color: #640015;
  font-family: 'Times New Roman', Times, serif;
}

.askSocial_subtitle {
  color: #3f000c;
  font-size:1rem;
}

/* SEARCH BAR */
.askSocial_searchBox .form-control {
  border-radius: 12px;
}
.askSocial_searchBox .input-group-text {
  background: rgb(255, 255, 255);
  border-radius: 12px 0 0 12px;
}

/* TOPICS */
.askSocial_topicChip {
  padding: 6px 16px;
  border-radius: 20px;
  background: #420101;
  border: 1px solid #eee;
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}
.askSocial_topicChip.active {
  background: #ffccd6;
  border-color: #ff99aa;
  color: #640015;
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(255, 0, 76, 0.2);
}

/* QUESTIONS */
.askSocial_card {
  border: none;
  border-radius: 18px;
  padding: 6px;
  transition: .25s;
}
.askSocial_card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.08);
}

.askSocial_avatar {
  font-size: 45px;
  color: #3f0000;
}

.askSocial_questionTitle {
  font-weight: 700;
  margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.askSocial_questionText {
  margin: 6px 0;
    font-family: 'Times New Roman', Times, serif;
}

.askSocial_meta span {
  margin-right: 10px;
}

.askSocial_tag {
  background: #ffc1cf;
  padding: 3px 10px;
  border-radius: 10px;
  font-weight: 600;
}

/* REPLIES */
.askSocial_replies {
  padding-left: 6px;
  border-left: 3px solid #ffd3dd;
}

.askSocial_replyBubble {
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #eee;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.03);
  margin-bottom: 8px;
}

.askSocial_replyBtn {
  background: #ff99b3;
  border: none;
  color: white;
  border-radius: 10px;
}

.askSocial_replyBox textarea {
  border-radius: 12px;
  resize: none;
}

.askSocial_sendBtn {
  margin-top: 8px;
  border-radius: 12px;
  background: #ff4d7a;
  color: white;
  border: none;
}

/* FAB BUTTON */
.askSocial_fab {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: #360013;
  color: white;
  border: none;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(255, 0, 76, 0.3);
  cursor: pointer;
  transition: .25s;
}

.askSocial_fab:hover {
  transform: scale(1.1);
}

/* MODAL */
.askSocial_modalHeader {
  background: #ffffff;
  color: rgb(48, 0, 0);
  border-radius: 0;

}
